#version=RHEL8
# Use graphical install
graphical


%packages
@^minimal-environment
kexec-tools

%end

# Keyboard layouts
keyboard --xlayouts='us'
# System language
lang en_US.UTF-8

# Network information
network  --bootproto=dhcp --device=enp0s3 --ipv6=auto --activate
network  --hostname=localhost.localdomain

# Run the Setup Agent on first boot
firstboot --enable

ignoredisk --only-use=sda
autopart
# Partition clearing information
clearpart --none --initlabel

# System timezone
timezone America/New_York --isUtc

# Root password
rootpw --iscrypted $6$5WyrKFsrARvZUi4V$6uu2WPyj78JYJVVmWOVuCcHUJlBj9CMJEaNs.GZYyaXaijRy1I3EGJbL8JZBWatyqrWLJ/Jz42JEh7Ul9X2001
user --name=praveen --password=$6$Rjy2LtQo9dPURvAp$aQcnijigpaR0UlH1GKr81s5Gju6e.9ZDag3KCM/G2KS/bS6lE2aRypsfSRA0leqkiGGHNlM8RDVpSbh.KuxQR1 --iscrypted --gecos="praveen"

%addon com_redhat_kdump --enable --reserve-mb='auto'

%end

%anaconda
pwpolicy root --minlen=6 --minquality=1 --notstrict --nochanges --notempty
pwpolicy user --minlen=6 --minquality=1 --notstrict --nochanges --emptyok
pwpolicy luks --minlen=6 --minquality=1 --notstrict --nochanges --notempty
%end
